/* CSS Document */


#slider.flexslider {
    height: 435px;
}

#slider.flexslider .slides img {
    height: 435px;
}

.control-label > span {
  color: #f00;
}

.error-message {
  bottom: 0;
  color: #ff0000;
  font-size: 13px;
  position: absolute;
}

.form-group {
  margin-bottom: 5px;
  padding-bottom: 20px;
}

.panel > .panel-heading:after{ display: table; clear: both; content: "";}
.panel > .panel-heading .panel-title { padding: 0;}
.panel .panel-body .table { margin: 0;}

.nopadding{ padding: 0;}
.noborder{ border: none;}
.noborder-left{ border-left: none;}
.noborder-right{ border-right: none;}
.noborder-top{ border-top: none;}
.noborder-bottom{ border-bottom: none;}
.no-box-shadow{ box-shadow: none;}
.nomargin{ margin:0;}
.nomargin-top{ margin-top:0;}
.nomargin-bottom{ margin-bottom:0;}
.nomargin-left{ margin-left:0;}
.nomargin-right{ margin-left:0;}


.table-acroller{ overflow: auto;}

table.dataTable th { white-space: nowrap;}
.box-title{ padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #ccc;}
.box-title h3{ margin: 0; padding: 0;}

.box:after,
.box-title:after,
.box-content:after{ display: table; clear: both; content: ""; }

.fileupload{ margin-bottom:0px }
.fileupload .uneditable-input {display:inline-block;margin-bottom:0;vertical-align:middle;cursor:text}
.fileupload .thumbnail{display:inline-block;margin-bottom:5px;overflow:hidden;text-align:center;vertical-align:middle}
.fileupload .thumbnail>img{display:inline-block;max-height:100%;vertical-align:middle}
.fileupload .btn{vertical-align:middle}
.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none}
.fileupload-inline .fileupload-controls{display:inline}
.fileupload-new .input-append .btn-file{-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0}
.thumbnail-borderless .thumbnail{padding:0;border:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.fileupload-new.thumbnail-borderless .thumbnail{border:1px solid #ddd}
.control-group.warning .fileupload .uneditable-input{color:#a47e3c;border-color:#a47e3c}
.control-group.warning .fileupload .fileupload-preview{color:#a47e3c}
.control-group.warning .fileupload .thumbnail{border-color:#a47e3c}
.control-group.error .fileupload .uneditable-input{color:#b94a48;border-color:#b94a48}
.control-group.error .fileupload .fileupload-preview{color:#b94a48}
.control-group.error .fileupload .thumbnail{border-color:#b94a48}
.control-group.success .fileupload .uneditable-input{color:#468847;border-color:#468847}
.control-group.success .fileupload .fileupload-preview{color:#468847}
.control-group.success .fileupload .thumbnail{border-color:#468847} 
.btn-file{position:relative;overflow:hidden;vertical-align:middle;padding:4px 8px;border:1px solid #ccc}
.btn-file>input{position:absolute;top:0;right:0;margin:0;font-size:23px;cursor:pointer;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);direction:ltr}
 
 
#s2id_menlang.select2-container{ padding:0px; }
#s2id_menlang.select2-container ul{ border:0px; border-radius: 5px;}
 
.agency-register .select2-container{ padding:0px; }
.agency-register .select2-container ul{ border:0px; border-radius: 5px;}
.agency-register .select2-container .select2-choice {
  height: 33px;
  margin: -1px -1px 0;
}

 
 @media screen and ( max-width: 360px) {
   #slider.flexslider {
		height: 150px;
	}

	#slider.flexslider .slides img {
		height: 150px;
	}
}



.hidden-650 {
  width: 650px;
}

.hidden-240 {
  width: 240px;
}
.hidden-180 {
  width: 180px;
}

.hidden-135 {
  width: 135px;
}
.login-introcell{
float:left;
}
.panel-body .catepic {
  float: left;
  margin-right: 8px;
}

tr .introletter > span {
  float: left;
}


/*    ############     Flash message css ##################          */

div.flash-messages {
    width: 100%;
}

div.flash-messages div {
    padding: 10px;
    padding-left:40px;
}
div.flash-messages div.error {
    width:100%; border-style: solid; border-width:1px; border-color:#B84D17; 
    margin-right:2px; color:#000000; margin-bottom:8px;
    background: url(../../img/icon_error.png) left center no-repeat;
    background-color:#F7C6A5;
}
div.flash-messages div.warning {
    width:100%; border-style: solid; border-width:1px; border-color:#D0C130; 
    margin-right:2px; color:#000000; margin-bottom:8px;
    background: url(../../img/icon_warning.gif) left center no-repeat;
    background-color:#F6F3A4;
}
div.flash-messages div.success {
    width:100%; border-style: solid; border-width:1px; border-color:#009900; 
    margin-right:2px; color:#000000; margin-bottom:8px;
    background: url(../../img/icon_success.gif) left center no-repeat;
    background-color:#A5F7A8;
}
div.flash-messages div.info {
    width:100%; border-style: solid; border-width:1px; border-color:#cccccc; 
    margin-right:2px; color:#000000; margin-bottom:8px;
    background: url(../../img/icon_info.gif) left center no-repeat;
    background-color:#ffffff;
}


#change_password > h3, #change_email > h3 {
  margin-top: 20px;
}
/*    ############     Flash message css ##################          */

#successFlashMsg.box.box-solid.bg-green {
  background: none repeat scroll 0 0 #00a65a;
  border-radius: 5px;
  color: #fff;
  margin: -20px 0 10px;
  padding: 15px 0 0 10px;
  vertical-align: middle;
}

#successFlashMsg.box.box-solid.bg-red {
  background: none repeat scroll 0 0 #f56954 !important;
  border-radius: 5px;
  color: #fff;
  margin: -20px 0 10px;
  padding: 15px 0 0 10px;
  vertical-align: middle;
}

.btn.btn-warning.btn-xs a {
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
}

